.navbar{
    font-family: 'Trebuchet MS', sans-serif;
    position: fixed;
    text-align: center;
    width: 100%;
    background: #FFFFFF;
    z-index: 99999999999999999999;
    left: 0rem;
    top: 0rem;
    height: 30;
}

.navitem{
    float: left;
    display: block;
    color: #fa1414 !important;
    text-align: center;
    top: 50%;
    left: 50%;
    padding: 20px 20px;
    text-decoration: none !important;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.navitem:hover{
    background-color: #c8b5f5;
    height: 70px !important;
}

iframe{
    height: 0rem;
}